<div class="containner mb-3">
  <div class="row col-12">
    <div class="col-1"></div>
    <div class="col-7">
      <div class="card hand-cursor" routerLink="job-detail">
        <div class="mx-4">
          <div class="">
            <span><b>Openings For FULL Stack-.NET CORE DEV IN Airoli WITH AN IT MNC</b></span>
            <span style="float: right;"><img class="com-icn"
                src="https://www.naukri.com/hotjobs/images/v3/Accen_nov20.gif" alt=""></span>
          </div>
          <span>IT MNC</span><br>
          <span class="gry-clr">Posted by Eyeglobal Solutions</span>
          <div class="d-flex mt-2 gry-clr">
            <div><i class="fa-regular fa-chess-pawn"></i> 4-8 Yrs</div><span class="vl"></span>
            <div><i class="fa fa-rupee"></i> 12 Lacs PA</div>
          </div>
          <div class="gry-clr mt-1"><i class="fas fa-map-marker-alt"></i> Navi mumbai</div>
          <hr>
          <div class="mt-3 gry-clr">
            Posted : <span>4 days ago</span><span class="vl"></span>
            Openings : <span>5</span><span class="vl"></span>
            Applicants :<span>36</span>
            <span style="float: right;"><button class="apply-btn">Apply</button></span>
            <span class="mx-2" style="float: right;"><button class="sv-btn">Save</button></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="job-hilight">
          <b>Job highlights</b>
          <div>
            <ul>
              <li>Position Requirements: . Hands-on experience with the C#,.NET framework,.NET Core</li>
              <li>Candidates willing to comply with the requirements need only apply</li>
              <li>Experience with Front-end frameworks such as React,Typescript,or Vue</li>
              <li>Experience or Knowledge on Node.js</li>
            </ul>
          </div>
        </div>
        <div>
          <b>Job description</b>
          <p>Our client headquartered in California offers a wide range of comprehensive health and wellness solutions
            to empower individuals, healthcare professionals, and organizations in making informed decisions and
            achieving better health outcomes. They are a fully integrated online media and software services
            organization focused on four high-value vertical categories: Health, Automotive, Legal, and Home/Travel. For
            their Development Center in Airoli, they are looking for Sr. Software Engineer (Fullstack)</p>
        </div>
        <div>
          <b>Position Requirements:</b>
          <ul style="list-style-type: auto;">
            <li>Hands-on experience with the C#, .NET framework, .NET Core</li>
            <li>Experience with Front-end frameworks such as React, Typescript, or Vue</li>
            <li>Experience or Knowledge on Node.js.</li>
            <li>Experience with Unit Testing and writing Restful web services.</li>
            <li>Experience with MSSQL and PostgreSQL</li>
            <li>Developing code using iterative agile methodologies is good to have.</li>
            <li>Excellent communication skills, both written and verbal</li>

          </ul>
        </div>
        <div>
          <b>Role & Responsibilities:</b>
          <ul>
            <li>Develop solutions that add value and efficiency across systems with minimal technical debt.</li>
            <li>Collaborate closely with fellow developers, architects, product owners, and other stakeholders in
              crafting optimal solutions to product goals.</li>
          </ul>
        </div>
        <div>
          <b>Education :</b>B.E. Computer Science/IT degree (or any other engineering discipline)<br>
          <b>Experience :</b> 4+ years<br>
          <b>Work timings :</b> 2 PM to 11 PM IST<br>
          <b>Work Location : </b>Airoli
        </div><br>
        <div>Candidates willing to comply with the requirements need only apply.</div><br>
        <div>
          <b>Role:</b> Full Stack Developer<br>
          <b>Industry </b>Type: IT Services & Consulting<br>
          <b>Department:</b> Engineering - Software & QA<br>
          <b>Employment </b>Type: Full Time, Permanent<br>
          <b>Role Category:</b> Software Development
        </div>
        <div>
          <b>Education</b>
          <b>UG: </b>B.Tech/B.E. in Any Specialization
        </div>
        <div>
          <h6>Key Skills</h6>
          <span>Skills highlighted with ‘‘ are preferred keyskills
          </span><br><br>
          <span class="key-skill">Typescript</span>
          <span class="key-skill">Java</span>
          <span class="key-skill">Java Script</span>
          <span class="key-skill">Angular</span>
          <span class="key-skill">.Net</span>
        </div>
      </div>
      <div class="mt-3 hand-cursor mb-3">
        <img width="100%" src="https://static.naukimg.com/s/0/0/i/awareness-images/desktop/dashboard/ladder.png" alt="">
      </div>
    </div>
    <div class="col-3 card mb-3" style="height: 100%;">
      <h5>Jobs you might be interested in</h5>
      <div class="row col-12 mt-3">
        <div class="col-10">
          <span style="font-size: 14px;"><b>Opening For .Net Full Stack Developer with Datamatics - Andheri(east)</b></span><br>
          <span class="gry-clr">Datamatics</span><br>
          <span>3.8<span class="vl"></span>32 reviews</span>
        </div>
        <div class="col-2">
          <img width="100%" class="com-icn" src="https://img.naukimg.com/logo_images/groups/v1/315118.gif"/>
        </div>
        <div class="gry-clr"><span style="font-size: 14px;"><i class="fas fa-map-marker-alt"></i> Mumbai (All Areas)</span><span class="gry-clr" style="float: right;">Posted 8 days ago</span></div>
        <hr style="margin: 10px 0px 0px 14px;">
      </div>
      <div class="row col-12 mt-3">
        <div class="col-10">
          <span style="font-size: 14px;"><b>Immediate Opening - Asp.net Developer - Quinnox Consultancy Services</b></span><br>
          <span class="gry-clr">Quinnox</span><br>
          <span>3.9<span class="vl"></span>300 reviews</span>
        </div>
        <div class="col-2">
          <img width="100%" class="com-icn" src="https://img.naukimg.com/logo_images/groups/v1/481178.gif"/>
        </div>
        <div class="gry-clr"><span style="font-size: 14px;"><i class="fas fa-map-marker-alt"></i> Mumbai (All Areas)</span><span class="gry-clr" style="float: right;">Posted 8 days ago</span></div>
        <hr style="margin: 10px 0px 0px 14px;">
      </div>
      <div class="row col-12 mt-3">
        <div class="col-10">
          <span style="font-size: 14px;"><b>Senior Software Developer with .Net (C#) React (preff)</b></span><br>
          <span class="gry-clr">Nielseniq India</span><br>
          <span>3.9<span class="vl"></span>767 reviews</span>
        </div>
        <div class="col-2">
          <img width="100%" class="com-icn" src="https://img.naukimg.com/logo_images/groups/v1/6403387.gif"/>
        </div>
        <div class="gry-clr"><span style="font-size: 14px;"><i class="fas fa-map-marker-alt"></i> Hybrid (All Areas)</span><span class="gry-clr" style="float: right;">Posted 8 days ago</span></div>
        <hr style="margin: 10px 0px 0px 14px;">
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
