<nav class="navbar navbar-expand-lg navbar-white bg-white">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="../assets/naukri_Logo.svg" alt="" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="jobs">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>

      </ul>
      <div class="header-profile hand-cursor" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span>☰</span>
        <span >Profile</span>
      </div>
      <!-- Already Registered? <a>Login here</a> -->
    </div>
  </div>
</nav>
<div class="contain-fluid body-background">
  <router-outlet />
</div>
<div class="footer mt-3">
  <div class="row col-12">
    <div class="col-2">
      <img src="../assets/naukri_Logo.svg" alt="" class="d-inline-block align-text-top"><br><br><br>
      <span>Connect with us</span>
    </div>
    <div class="col-2">
      <ul class="list-style">
        <li>About us</li>
        <li>Careers</li>
        <li>Employer Home</li>
        <li>Sitemap</li>
        <li>Credits</li>
      </ul>
    </div>
    <div class="col-2">
      <ul class="list-style">
        <li>Help Center</li>
        <li>Summons/Notice</li>
        <li>Grievances</li>
        <li>Report issue</li>
      </ul>
    </div>
    <div class="col-2">
      <ul class="list-style">
        <li>Privacy policy</li>
        <li>Terms & conditions</li>
        <li>Fraud alert</li>
        <li>Trust & safety</li>
      </ul>
    </div>
    <div class="col-4 apply-cls">
      <h4>Apply on the go</h4>
      <span>Get real-time job updates on our App</span>
      <br>
      <img src="https://static.naukimg.com/s/0/0/i/new-homepage/android-app_v1.png" />
      <img style="margin-left: 10px;" src="https://static.naukimg.com/s/0/0/i/new-homepage/ios-app_v1.png" />
    </div>
  </div>
</div>


<!-- ======================Sidebar================== -->


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex">
      <div class="profile">P</div>
      <div>
        <span><b>PRATIK MAURYA</b></span><br>
        <span>Sr. Software Engineer at vishleshan software solutions</span>
      </div>
    </div>
    <hr style="height: 1px; margin-top: 10px;">
    <div style="width: 80%;">
      <ul class="list-style">
        <li><i class="fa-solid fa-arrow-right-from-bracket"></i><a> Log out</a></li>
      </ul>
    </div>
  </div>
</div>
