<div class="container center">
  <div class="row col-12 gap-3">
    <div class="col-2 card" style="align-items: center;margin-bottom: 16px;">
      <div class="profile">P</div>
      <span><b>PRATIK MAURYA</b></span>
      <span style="font-size: 12px;">SR. Software Developer</span>
      <span style="font-size: 12px;">at Vishleshan Software solution</span><br>
      <button class="profile-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">View Profile</button>
      <br>
      <div style="width: 80%;">
        <ul class="list-style">
          <li><img src="https://static.naukimg.com/s/9/105/_next/static/assets/home.svg" /><a> My home</a></li>
          <li><img src="https://static.naukimg.com/s/9/105/_next/static/assets/jobs.svg" /><a> Jobs</a></li>
          <li><img src="https://static.naukimg.com/s/9/105/_next/static/assets/company.svg"/><a> Companies</a></li>
          <li><img src="https://static.naukimg.com/s/9/105/_next/static/assets/blog.svg" /><a> Blogs</a></li>
        </ul>
      </div>
    </div>
    <div class="col-6 mt-3" style="margin-bottom: 16px;">
      <div>
        <img width="100%" src="https://static.naukimg.com/s/0/0/i/awareness-images/desktop/dashboard/ladder.png" alt="">
      </div>
      <div class="card">
        <div>
          <span>Recommended jobs for you</span>
          <a class="view-all-cls hand-cursor">View all</a><br>
        </div>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Profile</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Preferences</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">You might like</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <!-- <owl-carousel-o [options]="customOptions" *ngFor="let item of slideList">
              <ng-template carouselSlide>{{item.name}}</ng-template>
            </owl-carousel-o> -->
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        </div>
      </div>
      <div class="card">
        <div>
          <span>Top companies</span>
          <a class="view-all-cls hand-cursor">View all</a><br>
          <span class="gry-clr">Hiring for Software Development</span>
        </div>
      </div>

    </div>
    <div class="col-3 card" style="margin-bottom: 16px;"><span>kjgk</span></div>
  </div>
</div>
