<div class="container center">
  <div class="row col-12 gap-3">
    <div class="col-3 card" style="align-items: center;margin-bottom: 16px;">
      All Filters
    </div>
    <div class="col-8 mt-3" style="margin-bottom: 16px;">
      Showing 7266 companies
      <div class="row gap-4">
        <div class="card col-5">
          <div class="row col-12">
            <div class="col-2">
              <div><img class="cmp-logo"
                  src="https://img.naukimg.com/logo_images/groups/v1/4596999.gif"></div>
            </div>
            <div class="col-10">
              <span>Globiva</span><br>
              <span>3.2 <span></span> 1.3K+ reviews</span>
              <a class="view-all-cls hand-cursor"><i class="fa-solid fa-angle-right"></i></a><br>
              <span class="gry-clr key-points">BPO / Call Centre</span>
              <span class="gry-clr key-points">Founded: 2017</span>
            </div>
          </div>
        </div>
        <div class="card col-5">
          <div class="row col-12">
            <div class="col-2">
              <div><img class="cmp-logo"
                  src="https://img.naukimg.com/logo_images/groups/v1/4596999.gif"></div>
            </div>
            <div class="col-10">
              <span>Globiva</span><br>
              <span>3.2 <span></span> 1.3K+ reviews</span>
              <a class="view-all-cls hand-cursor"><i class="fa-solid fa-angle-right"></i></a><br>
              <span class="gry-clr key-points">BPO / Call Centre</span>
              <span class="gry-clr key-points">Founded: 2017</span>
            </div>
          </div>
        </div>
        <div class="card col-5">
          <div class="row col-12">
            <div class="col-2">
              <div><img class="cmp-logo"
                  src="https://img.naukimg.com/logo_images/groups/v1/4596999.gif"></div>
            </div>
            <div class="col-10">
              <span>Globiva</span><br>
              <span>3.2 <span></span> 1.3K+ reviews</span>
              <a class="view-all-cls hand-cursor"><i class="fa-solid fa-angle-right"></i></a><br>
              <span class="gry-clr key-points">BPO / Call Centre</span>
              <span class="gry-clr key-points">Founded: 2017</span>
            </div>
          </div>
        </div>
        <div class="card col-5">
          <div class="row col-12">
            <div class="col-2">
              <div><img class="cmp-logo"
                  src="https://img.naukimg.com/logo_images/groups/v1/4596999.gif"></div>
            </div>
            <div class="col-10">
              <span>Globiva</span><br>
              <span>3.2 <span></span> 1.3K+ reviews</span>
              <a class="view-all-cls hand-cursor"><i class="fa-solid fa-angle-right"></i></a><br>
              <span class="gry-clr key-points">BPO / Call Centre</span>
              <span class="gry-clr key-points">Founded: 2017</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
